.page-content, .fondo{
    background-image: url("../img/fondo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.rowList{
    border: 1px red solid;
    border-radius: 10px;
    margin-top: 2px;
}

.rowList2{
    border: 1px #004288 solid;
    border-radius: 10px;
    margin-top: 2px;
}

.rowListA{
    border: 1px red solid;
    border-radius: 10px;
    margin-top: 2px;
}

.barraNav{
    background-color: #004288;
}

.colorTexto{
    color: white;
}

.icon-checkbox{
    border: 1px #004288 solid;
}

.icono{
    font-size: 1.5em;
}

.formRegistro{
    margin-bottom: 10px;
}

.divTD, .divTCI, .divTR{
    text-align: center;
}

.barraNav{
    text-align: center;
}

.iconoMenu{
    margin-left: 10px;
}

.iconoNavD{
    margin-right: 10px;   
}

.imgLogin{
    height: 20vh;
    width: 80vw;
}

/*---------------------------------Home---------------------------------------*/

.logo{
    height: 15vh;
    width: 100%;
}